/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
@font-face {
    font-family: 'Halvar Breitschrift';
    src: local('Halvar Breitschrift'), local('Halvar Breitschrift'),
        url('../fonts/HalvarBreit-Bd.woff2') format('woff2'),
        url('../fonts/HalvarBreit-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Halvar Breitschrift';
    src: local('Halvar Breitschrift'), local('Halvar Breitschrift'),
        url('../fonts/HalvarBreit-Lt.woff2') format('woff2'),
        url('../fonts/HalvarBreit-Lt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.body {
    font-family: Inter, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #1D1D1D;

}
.wrapper {
    
}
.content {
    margin: 0 auto;
    width: 100%;
    padding: 0 50px;
    background: #F5F5F5;
}

.title {
    font-family: Halvar Breitschrift, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px; 
}
.about {
    font-family: Halvar Breitschrift, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-weight: 500;
    font-size: 16px;
}
.block__hr {
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    height: 2px; /* Толщина линии */
}

footer {
    background: #1D1D1D;
   
}